<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>salt1</key>
  <array>
    <string>uniE000</string>
    <string>uniE042</string>
    <string>uniE047</string>
    <string>uniE048</string>
    <string>uniE05C</string>
    <string>uniE062</string>
    <string>uniE069</string>
    <string>uniE06D</string>
    <string>uniE06E</string>
    <string>uniE0A0</string>
    <string>uniE1D0</string>
    <string>uniE240</string>
    <string>uniE241</string>
    <string>uniE242</string>
    <string>uniE243</string>
    <string>uniE244</string>
    <string>uniE245</string>
    <string>uniE246</string>
    <string>uniE247</string>
    <string>uniE248</string>
    <string>uniE249</string>
    <string>uniE24A</string>
    <string>uniE24B</string>
    <string>uniE24C</string>
    <string>uniE24D</string>
    <string>uniE24E</string>
    <string>uniE24F</string>
    <string>uniE264</string>
    <string>uniE266</string>
    <string>uniE4A0</string>
    <string>uniE4A1</string>
    <string>uniE4D1</string>
    <string>uniE5F0</string>
    <string>uniE5F1</string>
    <string>uniE5F2</string>
    <string>uniE5F3</string>
    <string>uniE626</string>
    <string>uniE630</string>
    <string>uniE631</string>
    <string>uniE650</string>
    <string>uniE659</string>
    <string>uniE68F</string>
    <string>uniE690</string>
    <string>uniE6A0</string>
    <string>uniE6A1</string>
    <string>uniE6A2</string>
    <string>uniE6A3</string>
    <string>uniE6A6</string>
    <string>uniE6A7</string>
    <string>uniE6A8</string>
    <string>uniE6B1</string>
    <string>uniE6B2</string>
    <string>uniE6D0</string>
    <string>uniE6D4</string>
    <string>uniE6D7</string>
    <string>uniE6D8</string>
    <string>uniE6DB</string>
    <string>uniE6DC</string>
    <string>uniE6DD</string>
    <string>uniE6DE</string>
    <string>uniE6F3</string>
    <string>uniE6F8</string>
    <string>uniE710</string>
    <string>uniE711</string>
    <string>uniE740</string>
    <string>uniE741</string>
    <string>uniE75A</string>
    <string>uniE766</string>
    <string>uniE842</string>
    <string>uniE86B</string>
    <string>uniE8CB</string>
    <string>uniE902</string>
    <string>uniE905</string>
    <string>uniE906</string>
    <string>uniE929</string>
    <string>uniE9E0</string>
    <string>uniEBB0</string>
    <string>uniEBC2</string>
    <string>uniEBCD</string>
    <string>uniEBCE</string>
    <string>uniEBCF</string>
    <string>uniEBD0</string>
  </array>
  <key>ss011</key>
  <array>
    <string>uniE050</string>
    <string>uniE05C</string>
    <string>uniE062</string>
    <string>uniE080</string>
    <string>uniE081</string>
    <string>uniE082</string>
    <string>uniE083</string>
    <string>uniE084</string>
    <string>uniE085</string>
    <string>uniE086</string>
    <string>uniE087</string>
    <string>uniE088</string>
    <string>uniE089</string>
    <string>uniE0A0</string>
    <string>uniE0A2</string>
    <string>uniE0A3</string>
    <string>uniE0A4</string>
    <string>uniE260</string>
    <string>uniE261</string>
    <string>uniE262</string>
    <string>uniE4A0</string>
    <string>uniE4A1</string>
    <string>uniE4A2</string>
    <string>uniE4A3</string>
    <string>uniE4A4</string>
    <string>uniE4A5</string>
    <string>uniE4A6</string>
    <string>uniE4A7</string>
    <string>uniE4A8</string>
    <string>uniE4A9</string>
    <string>uniE4AA</string>
    <string>uniE4AB</string>
    <string>uniE4AC</string>
    <string>uniE4AD</string>
    <string>uniE4AE</string>
    <string>uniE4AF</string>
    <string>uniE4B0</string>
    <string>uniE4B1</string>
    <string>uniE4B2</string>
    <string>uniE4B3</string>
    <string>uniE4B4</string>
    <string>uniE4B5</string>
    <string>uniE520</string>
    <string>uniE521</string>
    <string>uniE522</string>
    <string>uniE523</string>
    <string>uniE524</string>
    <string>uniE525</string>
    <string>uniE526</string>
  </array>
  <key>ss031</key>
  <array>
    <string>uniE240</string>
    <string>uniE241</string>
    <string>uniE242</string>
    <string>uniE243</string>
    <string>uniE244</string>
    <string>uniE245</string>
    <string>uniE246</string>
    <string>uniE247</string>
    <string>uniE248</string>
    <string>uniE249</string>
    <string>uniE24A</string>
    <string>uniE24B</string>
    <string>uniE24C</string>
    <string>uniE24D</string>
    <string>uniE24E</string>
    <string>uniE24F</string>
  </array>
  <key>ss041</key>
  <array>
    <string>uniE080</string>
    <string>uniE081</string>
    <string>uniE082</string>
    <string>uniE083</string>
    <string>uniE084</string>
    <string>uniE085</string>
    <string>uniE086</string>
    <string>uniE087</string>
    <string>uniE088</string>
    <string>uniE089</string>
    <string>uniE08A</string>
    <string>uniE08B</string>
    <string>uniE08C</string>
  </array>
</dict>
</plist>
